.App {
  text-align: center;
  background: url(../public/glassesImage/background.jpg);
  background-size: 100%;
  width: 100vw;
  height: 100vh;
}
.model-thukinh {
  height: 500px;
  width: 400px;
  border: 1px solid red;
  background-image: url(../public/glassesImage/model.jpg);
  position: relative;
  background-position: center top;
  background-size: cover;
}
.model-container {
  padding: 0 100px;
}
.show-kinh {
  width: 100%;
  background-color: white;
}
.show-kinh .kinh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
}
.show-kinh .kinh img {
  width: 40%;
}
#kinh-duoc-chon {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 200px;
  height: 70px;
  opacity: 0.9;
}
.vglasses__info {
  position: absolute;
  text-align: left;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: white;
  padding: 10px;
  display: none;
}
.vglasses__info div p {
  font-size: 24px;
}
